<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>아름다운 단어를 찾으세요</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/jqcloud.min.css' %}">
  <script src="{% static 'js/jqcloud.min.js' %}"></script>
  <script src="{% static 'js/readme.js' %}"></script>

  <style media="screen">
    body {
      background-color: #FFFFEE;
    }
    #jqcloud {
      height: 500px;
      width: auto;
      /*background-color: gray;*/
      /*margin: 10px;*/
      /*border: 1px solid;*/
      /*border-radius: 200px;*/
    }
  </style>
  <script type="text/javascript">
    var words = [
      {% for wordc in word_count %}
        {% ifequal wordc.word special_word %}
          {text: "{{ wordc.word }}", weight: {{ wordc.weight}}, link:"{{ special_link }}"},
        {% else %}
          {text: "{{ wordc.word }}", weight: {{ wordc.weight}} },
        {% endifequal %}
      {% endfor %}
    ];
  </script>
</head>

<body>
  <div class="container">
    <div class="container" id="jqcloud">

    </div>
  </div>
  <script type="text/javascript">
    window.onload = function() {
      $('#jqcloud').jQCloud(words, {
        delay:80,
        autoResize: true,
        classPattern: null,
  colors: ["#329632","#aeffee","#32aaff","#5a78af","#8282ff","#cd4275","#ff87d2","#ff8282","#ffb182","#ffdc3c",],
  // colors: ["#","#","#","#","#","#","#","#","#","#",],
  // colors: ["#065400","#C4B200","#087B00","#E6D200","#52A34C","#FFED33","#96C792","#FFF270","#CBE4C9",],
  // colors: ["#006633","#13732D","#268026","#398C20","#4D991A","#60A313","#73B30D","#86BF06","#99CC00",],
  // colors: ["#38610B","#868A08","#5FB404","#D7DF01","#80FF00","#f7FE2E","#ACFA58","#F3F781","#D0F5A9",],
        fontSize: {
          from: 0.1,
          to:0.03
        }
      })
    }
  </script>
  <div class="container">
    <div class="footer navbar-fixed-bottom">
      <div class="well well-sm">
        Special Thank to 임청<br>
        뉴미디어솔루션과 임청 학생의 IMB 수행평가-웹 게임만들기 소스를 참고하였습니다.
        <h4 align="center">created by smiLe 팀</h4>
      </div>
    </div>
  </div>
</body>
</html>
