<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ㅁㅅ</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/jqcloud.min.css' %}">
  <script src="{% static 'js/jqcloud.min.js' %}"></script>
  <script type="text/javascript">
  console.log("%c´´´´´´´´´´´´´´´´´´´´´´¶¶¶¶¶¶¶¶¶",'color:yellow;')
  console.log("%c´´´´´´´´´´´´´´´´´´´´¶¶´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´´´¶¶¶¶¶´´´´´´´¶¶´´´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´´¶´´´´´¶´´´´¶¶´´´´´¶¶´´´´¶¶´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´´¶´´´´´¶´´´¶¶´´´´´´¶¶´´´´¶¶´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´´¶´´´´¶´´¶¶´´´´´´´´¶¶´´´´¶¶´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´´´¶´´´¶´´´¶´´´´´´´´´´´´´´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´¶¶¶¶¶¶¶¶¶¶¶¶´´´´´´´´´´´´´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´¶´´´´´´´´´´´´¶´¶¶´´´´´´´´´´´´´¶¶´´´´´¶¶",'color:yellow;')
  console.log("%c´´¶¶´´´´´´´´´´´´¶´´¶¶´´´´´´´´´´´´¶¶´´´´´¶¶",'color:yellow;')
  console.log("%c´¶¶´´´¶¶¶¶¶¶¶¶¶¶¶´´´´¶¶´´´´´´´´¶¶´´´´´´´¶¶",'color:yellow;')
  console.log("%c´¶´´´´´´´´´´´´´´´¶´´´´´¶¶¶¶¶¶¶´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´¶¶´´´´´´´´´´´´´´¶´´´´´´´´´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´¶´´´¶¶¶¶¶¶¶¶¶¶¶¶´´´´´´´´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´¶¶´´´´´´´´´´´¶´´¶¶´´´´´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´¶¶¶¶¶¶¶¶¶¶¶¶´´´´´¶¶´´´´´´´´´´´´¶¶",'color:yellow;')
  console.log("%c´´´´´´´´´´´´´´´´´´´´´´´¶¶¶¶¶¶¶¶¶¶¶",'color:yellow;')
  console.log("------------------------------------------")
  console.log("이 문장을 발견한 당신 정말 대단합니다.")
  console.log("1. ㅁㅅ의 자음을 가진 단어를 입력해보세요.")
  console.log("2. 그리고 숨겨진 링크를 찾으세요.")
  console.log("------------------------------------------")
  </script>
  <style media="screen">
    body {
      background-color: #FFFFEE;
    }
    #jqcloud {
      height: 500px;
      width: auto;
      /*background-color: gray;*/
      /*margin: 10px;*/
      /*border: 1px solid;*/
      /*border-radius: 200px;*/
    }
  </style>
  <script type="text/javascript">
    var words = [
      {% for wordc in word_count %}
        {% ifequal wordc.word special_word %}
          {text: "{{ wordc.word }}", weight: {{ wordc.weight}}, link:'http://www.google.com' },
        {% else %}
          {text: "{{ wordc.word }}", weight: {{ wordc.weight}} },
        {% endifequal %}
      {% endfor %}
    ];
  </script>
</head>

<body>
  <div class="container">
    <div class="container" id="jqcloud">

    </div>
  </div>
  <script type="text/javascript">
    window.onload = function() {
      $('#jqcloud').jQCloud(words, {
        delay:100,
        autoResize: true,
        classPattern: null,
  colors: ["#38610B","#868A08","#5FB404","#D7DF01","#80FF00","#f7FE2E","#ACFA58","#F3F781","#D0F5A9",],
        fontSize: {
          from: 0.3,
          to:0.04
        }
      })
    }
  </script>
  <div class="container">
    <div class="footer navbar-fixed-bottom">
      <div class="well well-sm">
        <h4>Special Thank to 임청</h4>
        뉴미디어솔루션과 임청 학생의 IMB 수행평가-웹 게임만들기 소스를 참고하였습니다.
      </div>
    </div>
  </div>
</body>
</html>
