<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ㅁㅅ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main_v20170312.css' %}">
    <script src="{% static 'js/play.js' %}"></script>
    <script src="{% static 'js/readme.js' %}"></script>
    <style media="screen">
    body {
      background-color: #FFFFEE;
    }
    </style>
  </head>
  <body>
    <div class="container" style="margin-top:10%;">
        <form method="post" onsubmit="return play()">
            <div class="form-group col-lg-4 col-lg-offset-4">
                <div class="input-group">
                  {% csrf_token %}
                  <input type="text" id="word" name="word" class="form-control tall" value="" maxlength="10" required placeholder="ㅁㅅ"/>
                    <div class="input-group-btn">
                        <button type="submit" name="button" class="btn btn-success tall">
                          <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-lg-10 col-lg-offset-10 pull-right">
              <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fj.mp%2F%E3%85%81%E3%85%85&layout=box_count&size=large&mobile_iframe=true&width=88&height=58&appId" width="88" height="58" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </form>

    </div>
    <div class="container">
      <div class="footer navbar-fixed-bottom">
        <div class="well well-sm">
          Special Thank to 임청<br>
          뉴미디어솔루션과 임청 학생의 IMB 수행평가-웹 게임만들기 소스를 참고하였습니다.
          <h4 align="center">created by smiLe 팀</h4>
        </div>
      </div>
    </div>
  </body>
</html>
